<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <div class="sidebar-wrapper">
            <div class="mat-logo">
                <img src={{brandlogo}} class="logo-image" alt="user profile">
            </div>
            <h4 class="menu-title"> app menu </h4>
            <mat-list class="mat-list">
                <mat-list-item class="mat-list-item active">
                    <mat-icon>view_module</mat-icon> <a routerLink="/dashboard/courses"> Courses</a>
                </mat-list-item>
                <mat-list-item class="mat-list-item">
                    <mat-icon>school</mat-icon> <a routerLink="/dashboard/certificates"> Certificate </a>
                </mat-list-item>
                <mat-list-item class="mat-list-item">
                    <mat-icon>card_membership</mat-icon> <a routerLink="/dashboard/purchases"> Purchase </a>
                </mat-list-item>
                <mat-list-item class="mat-list-item">
                    <mat-icon>lock</mat-icon> <a routerLink="/dashboard/account"> Account </a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon aria-hidden="false" class="menu-icon" aria-label="Example home icon">menu</mat-icon>
            </button>
        </div>

        <div class="image-container">
            <img [src]="userProfile" class="user-image" alt="user profile">
            <button mat-button [matMenuTriggerFor]="menu" class="username">{{username}} <mat-icon>keyboard_arrow_down
                </mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item> Logout <mat-icon> power_settings_new </mat-icon> </button>
                <button mat-menu-item> Enroll <mat-icon>add</mat-icon> </button>
            </mat-menu>
        </div>
    </div>


    <div class="main-body">
        <div class="user-profile">
            <!-- <router-outlet> -->
            <!-- <app-certificates></app-certificates> -->
            <!-- </router-outlet> -->

            <ng-template #certificates>

                <app-certificates></app-certificates>

            </ng-template>
        </div>
    </div>

</mat-drawer-container>