<mat-toolbar color="primary">
  <span> Dashboard </span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard/users">Users</button>
  <button mat-button routerLink="/dashboard/table"> Table </button>
  <span class="example-spacer"></span>
  <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
  <button
    mat-icon-button
    class="example-icon"
    routerLink="/"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
