<header class="header">
    <nav class="nav">
        <div class="nav-logo">
            <p class="nav-logo-brand">SB Ghana </p>
            <img src="" alt="">
        </div>

        <!-- <div class="form-body">
            <form action="#" class="form">
                <div class="form-group">
                    <input class="form-input" type="text" placeholder="Search">
                </div>
                <button class="btn btn-default rounded"> Search </button>
            </form>
        </div> -->

        <ul class="nav-lists">
            <li class="nav-list"><a class="nav-link" routerLink=""> Home</a> </li>
            <li class="nav-list"><a class="nav-link" routerLink="/register"> Register </a> </li>
            <li class="nav-list"><a class="nav-link cta" routerLink="/login"> Login</a> </li>
        </ul>
    </nav>
</header>