<div class="body">

    <div class="login">
        <img [src]="logo" alt="" width="50%" height="80%" />
        <h1 class="h3 mb-3 fw-normal">Account Registration</h1>


        <mat-form-field class="form" appearance="fill">
            <mat-label> Username </mat-label>
            <input matInput placeholder="Username" name="usernmae" required />
        </mat-form-field>


        <mat-form-field class="form" appearance="fill">
            <mat-label> Email </mat-label>
            <input matInput placeholder="Email" name="email" required />
        </mat-form-field>

        <mat-form-field class="form" appearance="fill">
            <mat-label> Password </mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required />
        </mat-form-field>

        <div class="login-btn-group">
            <button mat-raised-button color="primary">
                <a mat-button> Login </a>
            </button>

            <button (click)="loginWithGoogle()" mat-raised-button color="warn" class="google-login-btn">
                Login with Google
            </button>
        </div>
        <p> Copyright Stanbic Bank Ghana @ 2021 </p>
    </div>
</div>