<!-- <router-outlet></router-outlet> -->

<!-- <app-card
  class="wrapper"
  *ngFor="let post of posts"
  [title]="post.title"
  [imageUrl]="post.imageUrl"
  [username]="post.username"
  [content]="post.content"
></app-card> -->
<!-- <app-type-check></app-type-check> -->
<!-- <app-wikipedia></app-wikipedia> -->


<!-- <div class="container">
  <app-search-bar (submitted)="onTerm($event)"></app-search-bar>
  <app-page-list  *ngIf="pages.length" [pages]="pages"></app-page-list>
</div> -->


<!-- <app-custom-stepper>
</app-custom-stepper> -->

<!-- <app-placeholder [lines]="1"></app-placeholder> -->

 <!-- <app-form-handling></app-form-handling> -->


 <app-credit-check></app-credit-check>