<br />
<br />
<br />

<div class="main-wrapper">
  <div *ngFor="let article of articles" class="wrapper">
    <div>
      <img src="{{ article.urlToImage }}" alt="" srcset="" />
    </div>

    <p>{{ article.author }}</p>
    <p>{{ article.title }}</p>

    <p>{{ article.content }}</p>

    <div>
      <!-- {{article.description}}
            {{article.url}}
            {{article.urlToImage}}
            {{article.publishedAt}} 
        -->
      <p #description class="description">
        {{ renderDescription(article.description) }}
      </p>
    </div>
  </div>
</div>

<!-- <div class="news-letter">
    <div class="wrapper">
        <input class="input" type="text" placeholder="Subscribe to our newsletters">
        <button class="btn"> Subscribe </button>
    </div>
</div>

<div class="container">
    
</div> -->
