.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Inconsolata", monospace;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    /* border: 1px solid black; */
    margin-bottom: 1rem;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}


/* 
.news-letter {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background: antiquewhite;
    width: 100vw;
}

.container {
    width: 55rem auto;
    height: 100vh;
}

.input {
    padding: 0.7rem;
    border-radius: 0.4rem;
    outline: none;
    font-size: 15px;
    border: 1px solid rgb(226, 224, 221);
}

.input:focus {
    border-color: #01070e;
    box-shadow: 0 0 0 0.2rem rgba(2, 8, 15, 0.25);
}

.btn {
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    margin: -6.5rem;
    background-color: black;
    color: white;
} */
